*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
@import "src/navbar";
@import "src/footer";
#img{
    width: 100%;
    height: 480px;
    background-image: url('poze/pozaSubNav.jpeg') ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    .scris{
        
        position: absolute;
        text-align: left;
        margin-left: 20%;
        margin-right: 50%;
        top: 30%;
        
        
        h2{
            color: white;
            font-size: 48px;

        }
        h1{
            color: white;
            font-size: 72px;
        }
        a{
            button{
                height: 64px;
                width: 240px;
                font-size: 18px;
                background-color: darkgrey;
                border: 0px;
                border-radius: 2%;
                text-align: center;
                transition: width 0.5s;
                
                &:hover img{
                    display: block;
                }
                img{
                    display: none;
                    
                }
                &:hover{
                    width: 280px;
                    display: flex;
                    align-items: center; 
                    justify-content: space-between;
                    
                }
            }
        }
    }
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    padding-left: 3%;
    .col-1{
        flex-basis: 40%;
        position: relative;
        margin-left: 50px;
        h2{
            font-size: 54px;
        }
        h3{
            font-size: 30px;
            color: #707070;
            font-weight: 100;
            margin: 20px 0 10px;
        }
        h4{
            font-size: 20px;
            color: #b7b7b7;
            font-weight: 100;
        }
    }
    button{
        width: 140px;
        margin-top: 20px;
        padding: 12px 10px;
        background-color: #101010;
        color: white;
        border-radius: 6px;
        cursor: pointer;
        outline: none;
        border: 0;
        transition: width 0.5s;
        img{
            width: 30px;
            display: none;
        }
    }
}
button:hover img{
    display: block;
}
button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(#101010, #707070) ;
    position: absolute;
    left: -40px;
    top: 8px;
}
.col-2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
    .poza-asus-laptop{
        width: 90%;
    }
    .color-box{
        position: absolute;
        right: 0;
        top: 0;
        background: linear-gradient(#101010, #707070) ;
        border-radius:20px 0 0 20px ;
        height: 100%;
        width: 80%;
        z-index: -1;
        transform: translateX(80px);
    }
}
.add-btn img{
    width: 35px;
    margin-bottom: 5px ;
}
.add-btn{
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.carousel_products{
    position: relative;
    

}
.carousel-item{
    height: 300px;
    background-color: grey;
    // padding: 1rem;
    display: none;
    
    
}
.carousel-buttons{
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    
    text-align: center;
    

}
.carousel-button{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 20px;
    cursor: pointer;

}
.carousel-button-selected{
    background-color: rgba(255, 255, 255, 0.5);
}
.carousel-item-selected{
    display: block;
}
#item1{
    height: 300px;
    margin: 0;
    padding: 0;
    
}

@media only screen and (max-width:700px){

    .row{
        flex-direction: column-reverse;
        margin: 50px 0;   
    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
        .poza-asus-laptop{
            width: 77%;
        }
    }
    .color-box{
        transform: translateX(75px);
    }
    .col-1{
        flex-basis: 100%;
    }
    .col-1 h2{
        font-size: 35px;
    }
    .col-1 h3{
        font-size: 20px;
    }
}








