*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
@import "src/navbar";
@import "src/footer";
@import "src/form";

body{
    
    height: 100vh;
    // justify-content: center;
    // align-items: center;
    background: #F2F2F7;
    padding-left: 0px;
    margin: 0;
    
}
.social-links{
    margin-top: 64px;
}


