.social-links{
    text-align: center;
    img{
        height: 13px;
        margin: 20px;
        cursor: pointer;
    }
}
.footerLinks{
    
    text-align: center;
    
    
    list-style: none;
    text-decoration: none;
    ul{
        li{
            margin: 5px;
        }
    }
}
